<div class="author-add">
  <div class="add1 card border-light">
    <div class="card-header">Agregar Autor</div>
    <div class="card-body">
      <form action="/authors/add" method="POST">
        <div class="form-group">
          <label for="nameInput">Nombre</label>
          <input id="nameInput" name="name" type="text" class="form-control" placeholder="Enter name" autofocus>
        </div>
        <div class="form-group">
          <label for="nacionalidadInput">Nacionalidad</label>
          <input name="nacionality" type="text" maxlength="3" class="form-control" id="nacionalidadInput"
            placeholder="Enter Nationality">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="add2 card border-light">
    <div class="card-header">Estadísticas</div>
    <div class="card-body">
      <h4>Total de Autores</h4>
      Agregar un nuevo Autor
      Personal:
      Nombre Autor:
      Apellido Autor
      Nacionalidad:

    </div>
  </div>
</div>