<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Gokoshi Jr CRUD Biblioteca</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Autores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/authors">List</a>
          <a class="dropdown-item" href="/authors/add">Add</a>
          <a class="dropdown-item" href="/authors/edit">Update</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/authors/delete">Delete</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Books
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/books/">List</a>
          <a class="dropdown-item" href="/books/add">Add</a>
          <a class="dropdown-item" href="/books/edit">Update</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/books/delete">Delete</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="/authors">Autores</a>
      <a class="nav-item nav-link" href="/books">Libros</a>
      <a class="nav-item nav-link" href="/clients">Clients</a>
      <a class="nav-item nav-link" href="/transactions">Transacciones</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>